@model SGHR.Application.Dtos.Configuration.Reservas.Reserva.ReservaDto

@{
    ViewData["Title"] = "Detalles de la Reserva";
}

<div class="container mt-5">
    <div class="card shadow-sm mx-auto" style="max-width:600px;">
        <div class="card-header bg-primary text-white">
            <h4>Detalles de la Reserva</h4>
        </div>
        <div class="card-body">
            <p><strong>ID:</strong> @Model.Id</p>
            <p><strong>Cedula del Cliente:</strong> @Model.CedulaCliente</p>
            <p><strong>Número de Habitación:</strong> @Model.NumeroHabitacion</p>
            <p><strong>Correo:</strong> @Model.CorreoCliente</p>
            <p><strong>Fecha de inicio:</strong> @Model.FechaInicio</p>
            <p><strong>Fecha de fin:</strong> @Model.FechaFin</p>
            <p><strong>Total:</strong> @Model.CostoTotal</p>
            <p><strong>Estado:</strong> @Model.Estado</p>
        </div>
        <div class="card-footer text-center">
            <a href="@Url.Action("Index", "Reserva")" class="btn btn-secondary">Volver a la Lista</a>
        </div>
    </div>
</div>