@model SGHR.Application.Dtos.Configuration.Operaciones.Reporte.ReporteDto

<div class="container mt-3">
    <h4>¿Estás seguro de que deseas eliminar este reporte?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Tipo de Reporte</dt>
        <dd class="col-sm-10">@Model.TipoReporte</dd>

        <dt class="col-sm-2">Generado por</dt>
        <dd class="col-sm-10">@Model.GeneradoPor</dd>

        <dt class="col-sm-2">Ruta del archivo</dt>
        <dd class="col-sm-10">@Model.RutaArchivo</dd>

        <dt class="col-sm-2">Fecha de Generación</dt>
        <dd class="col-sm-10">@Model.FechaGeneracion</dd>
    </dl>

    <form id="formDelete" method="post" class="d-flex gap-2">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.Id" />

        <!-- Botón Eliminar: rojo -->
        <button type="submit" class="btn btn-danger">Eliminar</button>

        <!-- Botón Cancelar: gris -->
        <button type="button" class="btn btn-secondary btn-btnCancelDelete">Cancelar</button>
    </form>
</div>