@model SGHR.Application.Dtos.Configuration.Habitaciones.Amenity.AmenityDto

@{
    ViewData["Title"] = "Detalles del Amenity";
}

<div class="container mt-5">
    <div class="card shadow-sm mx-auto" style="max-width:600px;">
        <div class="card-header bg-primary text-white">
            <h4>Detalles del Amenity</h4>
        </div>
        <div class="card-body">
            <p><strong>ID:</strong> @Model.Id</p>
            <p><strong>Nombre:</strong> @Model.Nombre</p>
            <p><strong>Descripcion:</strong> @Model.Descripcion</p>
            <p><strong>Precio:</strong> @Model.Precio.ToString("C")</p>
            <p><strong>Por Capacidad de habitacion:</strong> @Model.PorCapacidad.ToString("C")</p>
        </div>
        <div class="card-footer text-center">
            <a href="@Url.Action("Index", "Amenity")" class="btn btn-secondary">Volver a la Lista</a>
        </div>
    </div>
</div>
