@model SGHR.Application.Dtos.Configuration.Operaciones.Pago.ResumenPagoDto

<div class="container mt-5">
    <div class="card shadow-sm mx-auto" style="max-width:700px;">
        <div class="card-header bg-primary text-white">
            <h4>Resumen de pagos</h4>
        </div>
        <div class="card-body">
            <p><strong>Completados:</strong> @Model.Completados</p>
            <p><strong>Rechazados:</strong> @Model.Rechazados</p>
            <p><strong>Parciales:</strong> @Model.Parciales</p>
            <p><strong>Pendientes:</strong> @Model.Pendientes</p>
            <p><strong>Total de Pagos:</strong> @Model.TotalPagos</p>
            <p><strong>Total recaudado:</strong> @Model.TotalRecaudado</p>
            <p><strong>Total Rechazado:</strong> @Model.TotalRechazado</p>
        </div>
    </div>
</div>
