@using SGHR.Web.Models.Operaciones.Pago
@model PagoModel

@{
    ViewData["Title"] = "Detalles del pago";
}

<div class="container mt-5">
    <div class="card shadow-sm mx-auto" style="max-width:600px;">
        <div class="card-header bg-primary text-white">
            <h4>Detalles del pago</h4>
        </div>
        <div class="card-body">
            <p><strong>ID:</strong> @Model.Id</p>
            <p><strong>reserva:</strong> @Model.IdReserva</p>
            <p><strong>Fecha:</strong> @Model.FechaPago.ToString("dd/MM/yyyy")</p>
            <p><strong>Metodo:</strong> @Model.MetodoPago</p>
            <p><strong>Monto:</strong> @Model.Monto.ToString("C")</p>
            <p><strong>Estado:</strong> @Model.Estado</p>
        </div>
        <div class="card-footer text-center">
            <a href="@Url.Action("Index", "PagoAPI")" class="btn btn-secondary">Volver a la Lista</a>
        </div>
    </div>
</div>
