@using SGHR.Web.Models.Habitaciones.Habitacion
@model HabitacionModel

<div class="container mt-3">
    <h4>¿Estás seguro de que deseas eliminar este cliente?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Numero de habitacion</dt>
        <dd class="col-sm-10">@Model.Numero</dd>

        <dt class="col-sm-2">Numero de piso</dt>
        <dd class="col-sm-10">@Model.NumeroPiso</dd>

        <dt class="col-sm-2">Capacidad</dt>
        <dd class="col-sm-10">@Model.Capacidad</dd>

        <dt class="col-sm-2">Amenity</dt>
        <dd class="col-sm-10">@Model.AmenityName</dd>

        <dt class="col-sm-2">Categoria</dt>
        <dd class="col-sm-10">@Model.CategoriaName</dd>

        <dt class="col-sm-2">Estado</dt>
        <dd class="col-sm-10">@Model.Estado</dd>
    </dl>

    <form id="formDelete" method="post" class="d-flex gap-2">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.Id" />

        <!-- Botón Eliminar: rojo -->
        <button type="submit" class="btn btn-danger">Eliminar</button>

        <!-- Botón Cancelar: gris -->
        <button type="button" class="btn btn-secondary btn-btnCancelDelete">Cancelar</button>
    </form>
</div>

