@using SGHR.Web.Models.Usuarios.Cliente
@model ClienteModel

<div class="container mt-3">
    <h4>¿Estás seguro de que deseas eliminar este cliente?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Apellido</dt>
        <dd class="col-sm-10">@Model.Apellido</dd>

        <dt class="col-sm-2">Cedula</dt>
        <dd class="col-sm-10">@Model.Cedula</dd>

        <dt class="col-sm-2">Correo</dt>
        <dd class="col-sm-10">@Model.Correo</dd>

        <dt class="col-sm-2">Direccion</dt>
        <dd class="col-sm-10">@Model.Direccion</dd>

        <dt class="col-sm-2">Telefono</dt>
        <dd class="col-sm-10">@Model.Telefono</dd>
    </dl>

    <form id="formDelete" method="post" class="d-flex gap-2">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.Id" />

        <!-- Botón Eliminar: rojo -->
        <button type="submit" class="btn btn-danger">Eliminar</button>

        <!-- Botón Cancelar: gris -->
        <button type="button" class="btn btn-secondary btn-btnCancelDelete">Cancelar</button>
    </form>
</div>

